.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3.125rem, 1fr));
  gap: 0.625rem;

  &__btns {
    padding: 0.3125rem;
    font-weight: 600;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

    &:hover {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
    }
  }
}
