.myReservations {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 100%;
    max-width: 60rem;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
  }

  &__title {
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 600;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  // place-items: center;

  &__btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    width: 100%;
    padding: 0.5em 1.3em;
    margin-top: 1.5625rem;
    font-weight: 600;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
  }
}

.error__message {
  color: var(--error);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: red;
  -webkit-filter: red;
}
