.myReservations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;

  &__header {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__container {
    width: 100%;
    max-width: 60rem;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  &__btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    width: 100%;
    padding: 0.5em 1.3em;
    margin-top: 1.5625rem;
    font-weight: 600;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
  }
}

.error__message {
  color: var(--error);
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  -webkit-filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.table {
  width: 100%;

  &__trHeader {
    width: 100%;
    text-align: center;
    font-weight: 600;
    background-color: var(--btn-bg);
    color: var(--btn-color);
  }

  &__th {
    padding: 0.5rem;
  }

  &__tFirst {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
  }

  &__tLast {
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
  }

  &__tr {
    width: 100%;
    text-align: center;

    &:hover {
      background-color: var(--hover-avt-opt);
      color: var(--dark-gray);
    }
  }

  &__td {
    padding: 0.5rem;
  }

  &__tdIconUpdate {
    width: 1rem;
    margin: auto;
    cursor: pointer;
  }

  &__tdIconDelete {
    width: 1rem;
    margin: auto;
    cursor: pointer;
    color: var(--dark-red);
  }
}

@media (width <= 820px) {
  .form {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;

    &__btn {
      margin: unset;
    }
  }
}

@media (width <= 375px) {
  .table {
    &__th {
      padding: 0.2rem 0.5rem;
    }

    &__tFirst {
      padding: 0.2rem 0.5rem;
    }

    &__tLast {
      padding: 0.2rem 0.5rem;
    }

    &__td {
      padding: 0.2rem 0.2rem;
    }
  }
}
