.booking {
  background-color: var(--white);
  border-radius: 0.3125rem;
  padding: 2em;

  display: flex;
  flex-direction: column;
  row-gap: 3em;
  &__btn {
    padding: 0.3em 1em;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-weight: 600;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--btn-color);
      color: var(--black);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    padding: 1em;
  }
  &__icon {
    width: 1.5em;
  }
  &__info {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  &__area {
    width: 100%;
    min-height: 7em;
    max-height: 14em;
    padding: 0.5em;
    resize: vertical;
    border-radius: 0.3125rem;
    outline: 0.0625rem solid var(--dark-gray);
  }
  &__btn {
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: var(--btn-color);
    color: var(--black);
  }
}
