@use '../../scss/functions/functions' as func;

.headerv2 {
  box-shadow: var(--box-shadow);

  padding: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 15rem;
    border-radius: 0.4rem;
    color: var(--orange);
  }
  &__profile {
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    position: relative;

    transition: all 0.3s ease;

    &:hover {
      background-color: var(--black);
    }
  }
  &__profile__hidden {
    display: none;
  }
  &__icon {
    width: 3rem;
    padding: 0.3em;
    border-radius: 50%;
    color: var(--black);
    background-color: var(--orange);
  }
  &__modal {
    border-radius: 0.3rem;
    position: absolute;
    bottom: -4rem;
    right: 1rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 600;

    box-shadow: var(--box-shadow);
  }
  &__option {
    width: 100%;
    padding: 0.3em 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    transition: all 0.3s ease;
    user-select: none;

    &:hover {
      background-color: var(--light-gray);
    }
  }
  &__option__icon {
    width: 1.2rem;
    color: var(--black);
  }
  &__logout {
    &:hover {
      color: red;
    }
  }
}
