@use '../../scss/variables/variables' as var;

.header {
  height: var.$header-height;

  &__bg {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-width: 100%;
    height: 100%;
    background: inherit;
    box-shadow: 0 0 0.625rem rgb(0, 0, 0, 10%);
    background-color: white;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 545px;
    position: relative; // Para el Modal (es la caja padre)
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;

    &.noLogged {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
    }
  }

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-align: center;
    font-weight: 600;
    padding: 8px;
    margin-right: 1rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      border-radius: 50%;
      border: 7px solid transparent;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
    }

    &.hovered::before {
      border-color: var(--light-gray);
    }
  }

  &__profile__modal {
    position: absolute;
    top: 4.5rem;
    left: 22.5rem;
    max-width: 9rem;
    width: 100%;
    z-index: 3;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
  }

  &__profile__option {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    cursor: pointer;
    color: var(--gray-color);
    font-weight: 600;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;

    &:hover {
      background-color: rgb(223, 223, 223);
    }

    &:focus {
      background-color: var(--gray-color);
      outline: none;
    }
  }
}

@media (hover: hover) {
  .logout:hover {
    span {
      color: var(--logout);
    }

    svg {
      fill: var(--logout);
    }
  }
}

@media (width <= 450px) {
  .header {
    &__profile__modal {
      left: 12rem;
    }

    &__logo {
      margin-left: 1rem;
    }
  }
}
