.register {
  height: 80dvh;
  padding: 1em;
  display: grid;
  place-items: center;

  &__title {
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 600;
  }

  &__container {
    width: 100%;
    max-width: 33.125rem;
    padding: 2em;
    border-radius: 0.3em;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
  }

  &__register {
    font-weight: 600;
    color: var(--orange);
  }

  &__btns {
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;

  &__btn {
    width: 100%;
    padding: 0.5em 1.3em;
    border-radius: 0.3em;
    font-weight: 600;
    background-color: var(--black);
    color: var(--orange);
    cursor: pointer;
  }
}

.error-message {
  color: var(--error);
}
