@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Bold.woff) format('woff');
  font-weight: 700;
}

:root {
  /* Colores de uso genérico */
  --dark-gray: rgb(73, 73, 73); // ??? color hover links, botones y letras modales
  --gray-color: rgb(183, 183, 183);

  --error: rgb(237, 74, 74);
  --dark-red: rgb(204, 63, 63);

  /* Tipografía */
  --tipo-principal: 'Poppins', Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Tema por defecto del System */
    --black: rgb(223, 223, 223);
    --white: rgb(43, 43, 43);
    --smoke-white: rgb(14, 14, 17);
    --box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
    --box-shadow-contrast: 0 0 0.625rem rgba(0, 0, 0, 0.1);

    --hover-avt-opt: rgb(250, 208, 141); // ??? color hover avatar y hover option modales

    --img-bg: rgb(223, 223, 223);

    --btn-bg: rgb(247, 177, 82);
    --btn-color: rgb(14, 14, 17);
    --btn-active-bg: rgb(68, 68, 68);

    --theme-bg: rgb(68, 68, 68);

    --orange: rgb(245, 153, 48);
    --light-orange: rgb(247, 177, 82);

    --opaque-gray: rgb(170, 170, 170);
  }
}

[data-theme='dark'] {
  /* Tema Oscuro */
  --black: rgb(223, 223, 223);
  --white: rgb(43, 43, 43);
  --smoke-white: rgb(14, 14, 17);
  --box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
  --box-shadow-contrast: 0 0 0.625rem rgba(0, 0, 0, 0.1);

  --hover-avt-opt: rgb(250, 208, 141);

  --img-bg: rgb(223, 223, 223);

  --btn-bg: rgb(247, 177, 82);
  --btn-color: rgb(14, 14, 17);
  --btn-active-bg: rgb(183, 130, 60);

  --theme-bg: rgb(68, 68, 68);

  --orange: rgb(245, 153, 48);
  --light-orange: rgb(247, 177, 82);

  --opaque-gray: rgb(170, 170, 170);
}

[data-theme='light'] {
  /* Tema Claro */
  --black: rgb(14, 14, 17);
  --white: rgb(250, 250, 250);
  --smoke-white: rgb(223, 223, 223);
  --box-shadow: 0 0 0.625rem rgb(0, 0, 0, 0.1);
  --box-shadow-contrast: 0 0 0.625rem rgba(255, 255, 255, 0.1);

  --hover-avt-opt: rgb(223, 223, 223);

  --img-bg: rgb(250, 208, 141);

  --btn-bg: rgb(14, 14, 17);
  --btn-color: rgb(247, 177, 82);
  --btn-active-bg: rgb(68, 68, 68);

  --theme-bg: rgb(223, 223, 223);

  --orange: rgb(245, 153, 48);
  --light-orange: rgb(250, 208, 141);

  --opaque-gray: rgb(146, 146, 146);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  background-color: var(--smoke-white);
  font-family: var(--tipo-principal);
  color: var(--black);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}
