@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Bold.woff) format('woff');
  font-weight: 700;
}

:root {
  /* Colores */
  --black: #0e0e11;
  --white: #f2f4f3;
  --orange: #f7b152;

  --btn-bg: #0e0e11;
  --btn-color: #f7b152;
  --black: rgb(43, 43, 43);
  --semi-white: rgb(243, 243, 243);
  --orange: rgb(245, 153, 48);
  --light-gray: rgb(211, 211, 211);
  --gray-color: rgb(183, 183, 183);
  --opaque-gray: rgb(146, 146, 146);
  --dark-gray: rgb(73, 73, 73);
  --error: rgb(237, 74, 74);
  --logout: rgb(204, 63, 63);
  --box-shadow: 0 0 0.625rem rgb(0, 0, 0, 10%);

  --shadow: rgba(70, 70, 70, 0.7);

  /* Tipografía */
  --tipo-principal: 'Poppins', Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}
// @media (prefers-color-scheme: dark) {
//   :root {
//     --black: #f2f4f3;
//     --white: #0e0e11;
//     --box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);

//     --btn-bg: #f7b152;
//     --btn-color: #0e0e11;
//   }
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  background-color: var(--white);
  font-family: var(--tipo-principal);
  color: var(--black);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}
