.changePassword {
  display: grid;
  place-items: center;

  &__title {
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 600;
  }

  &__container {
    width: 100%;
    max-width: 33.125rem;
    padding: 1.9em;
    border-radius: 0.3125rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  &__register {
    font-weight: 600;
    color: var(--orange);
    display: flex;
    gap: 0.3rem;
  }

  &__btns {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__goBackIcon {
    width: 1.5em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  &__btn {
    width: 100%;
    padding: 0.5em 1.3em;
    border-radius: 0.3125rem;
    font-weight: 600;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
  }
}

.error__message {
  color: var(--error);
}
