.login {
  height: calc(100dvh - 6.5rem);
  padding: 1em;
  display: grid;
  place-items: center;

  &__title {
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 600;
  }

  &__container {
    width: 100%;
    max-width: 33.125rem;
    padding: 1.9em;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
  }

  &__register {
    font-weight: 600;
    color: var(--orange);
  }

  &__btns {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
  }

  &__otherLogins {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__labelLogins {
    font-weight: 600;
    color: var(--opaque-gray);
  }

  &__btn__google {
    width: fit-content;
    display: flex;
    justify-content: center;

    &Icon {
      width: 1.4rem;
      height: auto;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;

  &__btn {
    width: 100%;
    padding: 0.5em 1.3em;
    border-radius: 0.3125rem;
    font-weight: 600;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
  }
}

.error__message {
  color: var(--error);
}
